main {
  background-color: rgb(247, 218, 183);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main ul.content {
  list-style: none;
  background-color: white;
  border: 1px solid rebeccapurple;
  padding: 1rem;
  border-radius: 20px 20px 60px 20px;
  height: 60%;
}

main ul.content li form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 8px;
}

main ul.content li form label {
  display: flex;
  flex-direction: column;
  width: 35%;
}

main ul.content li form label input {
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid grey;
  height: 2rem;
}
