main {
  background-color: #f0f0f0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main ul.content {
  list-style: none;
  background-color: white;
  padding: 2rem 1rem;

  border-radius: 20px 20px 60px 20px;
}

main ul.content li form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 8px;
}

main ul.content li form label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 35%;
  font-weight: bold;
}

main ul.content li form label input {
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #d6d6d6;
  height: 2rem;
}

li.line {
  margin-top: 4rem;
  width: 100%;
  height: 60px;
}

li.line hr {
  border: 1px solid #d6d6d6;
}

li.line img {
  position: relative;
  width: 80px;
  height: 80px;
  bottom: 50px;
  right: -37.5%;
}

li.datos ul {
  list-style: none;
}

li.datos ul li {
  font-size: 3rem;
  font-weight: bold;
}

li.datos ul li em {
  font-style: normal;
  color: #884df3;
}
